<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="dispPollexAdminList" type="view" admin_index="true" menu_name="pollex" menu_index="true" />
        <action name="dispPollexAdminResult" type="view" />
        <action name="dispPollexAdminConfig" type="view" />
        <action name="getPollexGetColorsetList" type="model" />
        <action name="getPollexAdminTarget" type="model" />

        <action name="procPollexInsert" type="controller" />
        <action name="procPollex" type="controller" ruleset="poll" />
        <action name="procPollexViewResult" type="controller" />
        <action name="procPollexGetList" type="controller" />
        <action name="procPollexAdminDeleteChecked" type="controller" ruleset="deleteChecked" />
        <action name="procPollexAdminInsertConfig" type="controller" ruleset="insertConfig" />
        <action name="procPollexAdminAddCart" type="controller" />
    </actions>
	<menus>
		<menu name="pollex">
			<title xml:lang="en">PollEX</title>
			<title xml:lang="ko">설문EX</title>
			<title xml:lang="zh-CN">PollEX</title>
			<title xml:lang="jp">アンケートEX</title>
			<title xml:lang="es">PollEX</title>
			<title xml:lang="ru">PollEX</title>
			<title xml:lang="fr">PollEX</title>
			<title xml:lang="zh-TW">投票EX</title>
			<title xml:lang="vi">PollEX</title>
			<title xml:lang="mn">PollEX</title>
			<title xml:lang="tr">PollEX</title>
		</menu>
	</menus>
</module>
